{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container bg-warning p-3 rounded text-center">
      <img src= "assets/images/burger_img.jpg" class= "burger-img mt-3 rounded"/>
		<h1>Eat Da Burger</h1>
  
     <div class= "row">
       <div class= "col-md-6">
        <div class="card bg-success">
            <div class="list-group-item text-center rounded m-3 p-3 bg-warning h2 text-danger ">NEW BURGERS</div>
            <div class= "row">
              {{#each burgers}}
              {{#unless devoured}}
              <div class= "col-md-9">
               <li class="list-group-item rounded m-3 p-3 text-center">{{this.burger_name}}</li>
              </div>
              <div class="col-md-3">
            <button class="btn-danger rounded m-3 p-2 text-center eat-burger" data-id="{{this.id}}" >Devour <i class="fas fa-utensils"></i></button>
              </div>
              {{/unless }}
              {{/each}}
              </div>
            
          </div>
        </div>
        <div class= "col-md-6">
          <div class="card bg-success">
            <div class="h2 text-danger rounded m-3 p-3 list-group-item text-center bg-warning">
              DEVOURED
            </div>
            <div class="row">
              {{#each burgers}}
              {{#if devoured}}
              <div class="col-12">
                <li class="list-group-item rounded m-3 p-3 text-center" data-id ="{{this.id}}">{{this.burger_name}}</li>
              </div>
              {{/if}}
              {{/each}}
            </div>
       </div>
       

      </div>
       </div>
     </div>
     <div class="container mt-3 mb-3">
       <div class= row>
         <div class="col-12">
           <div class="card rounded">
            <div class="row">
              <div class="col-12">
                <div class="list-group-item bg-danger rounded m-3 p-3 text-center text-light h2">
                  CREATE A NEW BURGER
                </div>
              </div>
              <form class="create-form">
                <div class="form-group" >
                    <label for="newburger" id="color-override" class="m-3 h5">New Burger:</label>
                    <input type="text" id="newBurger" name="burger" placeholder="(eg) ham burger">
                    {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                    <button type="submit" class="btn btn-success" id="addburger"><span class="fa fa-thumbs-up"></span></button>
                </div>
            </form>
              </div>
             
            </div>
           </div>
         </div>
       </div>
     </div>