{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container bg-warning p-3 rounded text-center">
      <img src= "assets/images/burger_img.jpg" class= "burger-img mt-3 "/>
		<h1>Eat Da Burger</h1>
  
     <div class= "row">
       <div class= "col-md-6">
        <div class="card bg-success">
            <div class="list-group-item text-center rounded m-3 p-3 bg-warning h2 text-danger ">PREPARED</div>
            <div class= "row">
              <div class= col-md-9>
               <li class="list-group-item rounded m-3 p-3 text-center">chicken burger</li>
              
              </div>
              <div class="col-md-3">
                <button class="btn-danger rounded m-3 p-2 text-center">Devour Me</button>
              </div>
              <div class= "col-md-9">
                <li class="list-group-item rounded m-3 p-3 text-center">Ham burger</li>
               
               </div>
               <div class="col-md-3">
                 <button class="btn-danger rounded m-3 p-2">Devour Me</button>
               </div>
               <div class= col-md-9>
                <li class="list-group-item rounded m-3 p-3 text-center">Veggie burger</li>
               
               </div>
               <div class="col-md-3">
                 <button class="btn-danger rounded m-3 p-2">Devour Me</button>
               </div>
            </div>
            
          </div>
        </div>
        <div class= "col-md-6">
          <div class="card bg-success">
            <div class="h2 text-danger rounded m-3 p-3 list-group-item text-center bg-warning">
              DEVOURED
            </div>
            <div class="row">
              <div class="col-12">
                <li class="list-group-item rounded m-3 p-3 text-center">chicken burger</li>
              </div>
              <div class="col-12">
                <li class="list-group-item rounded m-3 p-3 text-center">Ham burger</li>
              </div>
              <div class="col-12">
                <li class="list-group-item rounded m-3 p-3 text-center">veggie burger</li>
              </div>
            </div>
       </div>
       

      </div>
       </div>
     </div>
     <div class="container mt-3 mb-3">
       <div class= row>
         <div class="col-12">
           <div class="card rounded">
            <div class="row">
              <div class="col-12">
                <div class="list-group-item bg-danger rounded m-3 p-3 text-center text-light h2">
                  CREATE A NEW BURGER
                </div>
              </div>
              <div class="row">
                <div class= "col-md-9">
                  
                    
              <input type="text" class="form-control m-1 bg-light" id="" placeholder="Enter the name of the burger you want to create" >
                  
                </div>
                <div class="col-md-3">
                 <button class="btn-success rounded m-1 p-1 ">SUBMIT</button>
                </div>
              </div>
             
            </div>
           </div>
         </div>
       </div>
     </div>